<footer id="footer">
    <div class="footer-left">
        <nav>
            <ul>
                Copyright  &copy; {{ now.Format "2006" }} {{ if .Site.Copyright }} {{ print .Site.Copyright | markdownify }} {{ else }} {{ print .Site.Title }} {{ end }}
            </ul>
            <ul>
                <p class="copyright">
                <span>
                    <a href="https://gitlab.com/gsilvapt/cactus">Tweaked mini theme</a> by <svg fill="#bbbbbb" width="15" height="15" version="1.1" id="heart-15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
                        <path d="M13.91,6.75c-1.17,2.25-4.3,5.31-6.07,6.94c-0.1903,0.1718-0.4797,0.1718-0.67,0C5.39,12.06,2.26,9,1.09,6.75
                                    C-1.48,1.8,5-1.5,7.5,3.45C10-1.5,16.48,1.8,13.91,6.75z"></path>
                    </svg>
                </span>
                <a href="https://themes.gohugo.io/themes/hugo-theme-cactus-plus/">nodejh</a>
                </p>
        </nav>
    </div>
    <div class="footer-right">
        <nav>
            <ul>
                {{ range .Site.Menus.main }} 
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
            <ul>
                <a rel="me" href="https://infosec.exchange/@gsilvapt">@gsilvapt@infosec.exchange</a>
            </ul>
        </nav>
    </div>
</footer>
